<table id="team-roster-title">
  <tbody>
    <tr id="team-roster-title">
      <th>Pittsburgh Steelers</th>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th class="headers">
        <a href="#" ng-click="order = 'JerseyNumber'; reverseSort = !reverseSort">
        No <span ng-show="order == 'JerseyNumber'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
      <th class="headers">
        <a href="#" ng-click="order = 'LastName'; reverseSort = !reverseSort">
        Name <span ng-show="order == 'LastName'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
      <th class="headers">
        <a href="#" ng-click="order = 'Height'; reverseSort = !reverseSort">
        Height <span ng-show="order == 'Height'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
      <th class="headers">
        <a href="#" ng-click="order = 'Weight'; reverseSort = !reverseSort">
        Weight <span ng-show="order == 'Weight'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
      <th class="headers">
        <a href="#" ng-click="order = 'Birthdate'; reverseSort = !reverseSort">
        Birthdate <span ng-show="order == 'Birthdate'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
      <th class="headers">
        <a href="#" ng-click="order = 'AccruedSeasons'; reverseSort = !reverseSort">
        Exp <span ng-show="order == 'AccruedSeasons'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
      <th class="headers last">
        <a href="#" ng-click="order = 'College'; reverseSort = !reverseSort">
        College <span ng-show="order == 'College'"><span ng-show="!reverseSort"></span><span ng-show="reverseSort"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="player in roster | orderBy:order:reverseSort">
      <td>{{ player.JerseyNumber }}</td>
      <td>{{ player.LastName + ", " + player.FootballName }}</td>
      <td>{{ player.Height }}</td>
      <td>{{ player.Weight }}</td>
      <td>{{ player.Birthdate | date:'MM/dd/yyyy' }}</td>
      <td>{{ player.AccruedSeasons }}</td>
      <td>{{ player.College }}</td>
    </tr>
  </tbody>
</table>